.first {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 5%;
}

.first img {
    width: 40%;
    height: 15rem;
    border-radius: 10px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    color: rgba(49, 48, 48, 0.541);
    margin-top: 5%;
    opacity: 100;
    transition: all 4s allow-discrete;;
    transform: scale(1);
    cursor: pointer;
}

.first-discription {
    width: 40%;
}

.download-list {
    display: flex;
    gap: 4%;
    width: 50%;
    margin-top: 5%;
}

.download-list img {
    width: 25px;
    height: 20px;
}

@media (max-width: 756px) {
    .first-content {
        flex-direction: column;
    }

    .first img {
        width: 100%;
    }

    .first-discription {
        width: 100%;
    }

    .download-list {
        width: 75%;
    }
}