.third {
    display: flex;
    width: 100%;
    height: 35rem;
    /* background-color: black; */
    margin-top: 10%;
    background-image: url('https://wallpapercave.com/wp/wp5132020.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 800ms ease-in-out;
    transform: translateY(-2rem);
}

.third-container {
    display: flex;
    width: 85%;
    gap: 2%;
    margin: auto;
    /* background-color: bisque; */
    justify-content: center;
}

.third-content {
    position: relative;
    width: 18rem;
    height: 18rem;
}

.third-content-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* background-color: yellow; */
    transition: all 600ms;
}


.third-content-inside:hover {
    transform: rotateY(180deg);
}

.third-content-inside img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: green;
}

.image-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(33, 33, 33, 0.187);
    transform: rotateY(180deg);
    border-style: dotted;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%
}



.image-back h1 {
    font-weight: bolder;
    text-shadow: 1px 1px 2px yellow;
}

.image-back img {
    width: 50%;
    height: 20%;
    /* background-color: ; */
}

@media (max-width: 768px) {


    .third-content {
        width: 12rem;
        height: 12rem;
    }

    .third {
        height: 25rem;
    }


}

@media (max-width: 568px) {

    .third-content {
        width: 8rem;
        height: 8rem;
    }

    .third {
        height: fit-content;
    }

    .third-container {
        flex-direction: column-reverse;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        /* background-color: antiquewhite; */
        align-items: center;
        gap: 10px;
    }
}