.gameinfoheader {
    display: block;
    padding: 0;
    border-bottom-style: groove;
    border-bottom: 1px solid black
}


.gameinfoheader ul {
    padding: 0%;
    list-style: none;
    display: flex;
    gap: 4%;
}


.favourite {
    display: flex;
    padding: 0;
    gap: 0.2rem
}

.favourite div {
    background-color: rgb(31, 7, 7);
    border-radius: 100%;
    padding: 0px;
    width: 2rem;
    text-align: center;
    font-size: small;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
}


.gameinfoheader ul li {
    transition: all 800ms;
    cursor: pointer;
}

.gameinfoheader ul li:hover {
    transition: all 800ms;
    background-color: aquamarine;
}