/* .gameinfo {
} */

.gameinfo-header {
    width: auto;
    margin: none;
    background-color: black;
}

.gameinfo-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 4%;
    font-family: 'Courier New', Courier, monospace;
}

.gameinfo-content img {
    width: 45%;
}

.gameinfo-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}


.gameinfo-title {
    font-weight: bold;
    font-size: xx-large;
}

.gameinfo-summery {
    font-size: 15px;
    color: black;
    font-weight: 700;
}


.avalibale {
    font-weight: 800;
}

/* Add Button Css */

.Add-Button {
    border: none;
    background-color: greenyellow;
    transition: all 300ms;
    cursor: pointer;
}


.Add-Button:hover {
    background-color: darkgreen;
    color: whitesmoke;
    transition: all 300ms;
}

/* Remove Button Css */

.Remove-Button {
    border: none;
    background-color: rgba(255, 0, 0, 0.804);
    transition: all 300ms;
    cursor: pointer;
    color: whitesmoke;
}

.Remove-Button:hover {
    background-color: rgb(100, 37, 0);
    color: whitesmoke;
    transition: all 300ms;
}




.gameinfo-tag {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 0;
    font-weight: 700;
    margin-top: 4%;
}

.gameinfo-tag-list {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 75%;
}

.gameinfo-tag-list li {
    list-style: none;
    background-color: rgb(116, 121, 121);
    padding: 1%;
    color: wheat;
}

.gameinfo-platform {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

.gameinfo-platform a {
    width: fit-content;
    text-decoration: none;
    color: black;
}

.gameinfo-platform img {
    height: 25%;
    width: 25%;
}

@media (max-width: 965px) {
    .gameinfo-content {
        width: 95%;
    }
}

@media (max-width: 730px) {
    .gameinfo-content {
        flex-direction: column;
    }

    .gameinfo-content img {
        width: 95%;
    }

    .gameinfo-card {
        width: 100%;
    }

    .gameinfo-platform img {
        height: 25%;
        width: 25%;
    }
}