.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15%;
    opacity: 50;
    transition: all 800ms ease-in-out;
    transform: translateY(-2rem);
}

.fps-container {
    display: block;
    width: 100%;
    margin: auto;
    overflow: hidden;
    /* background-image: linear-gradient(to left, rgba(239, 239, 239, 0.521), rgba(81, 81, 68, 0.772)); */
}

.fps-card {
    gap: 15px;
    transition: all 500ms ease-in-out;
    width: 300%;
    display: flex;
}

.platform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin-top: 1%;
}


.platform-link {
    width: 65%;
    display: flex;
    justify-content: space-between;
}


.platform-link a:hover {
    background-color: rgb(48, 49, 49);
}

.fps-games {
    border-style: groove;
    height: 20rem;
    color: rgb(38, 39, 40);
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(81, 77, 77);
    text-decoration: none;
}

.fps-games div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fps-games img {
    width: 100%;
    border-radius: 10px;
    height: 15rem;
}

.button-container {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    margin-top: 2%;
}

.button-container button {
    border-radius: 100%;
    border-style: groove;
    cursor: pointer;
    height: 10px;
    width: 5%;
}

.selected-button {
    color: whitesmoke;
    background-color: goldenrod;
}

@media (max-width: 768px) {
    .fps-games {
        height: 10rem;
        font-size: x-small;
    }

    .fps-games img {
        height: 5rem;
    }

    .platform {
        flex-direction: column;
        width: 100%;
    }

    .platform-link {
        width: 100%;
    }
}